@import '../../../reset.scss';
.foundinfo {
  font-family: $font-kor;
  font-weight: $regular;
  span {
    font-weight: $bold;
  }
  > div {
    &:first-of-type {
      margin-top: 32px;
    }
    &:nth-of-type(2) {
      button {
        background: #f8f8f8;
        color: $highlight-color;
        margin-top: 10px;
      }
    }
  }
}
