@import '../../../reset.scss';
.DashBoardHorBarGraph {
  display: flex;
  height: 210px;
  > div {
    height: 210px;
    &:nth-of-type(1) {
      width: 164px;
    }
    &:nth-of-type(2) {
      margin-left: 72px;
      width: 100px;
    }
    &:nth-of-type(3) {
      width: 64px;
      padding-left: 32px;
      li {
        font: $regular 12px/16px $font-eng;
        color: #707070;
        line-height: 32px;
      }
    }
    > ul {
      > li {
        height: 32px;
        margin: 8px 0;
      }
    }
  }
}
