@import '../../../reset.scss';
.roundbtn {
  width: 72px;
  height: 20px;
  background-color: $highlight-color;
  color: #fff;
  border: none;
  font-family: $font-kor;
  font-size: $footer-menu-size;
  border-radius: 10px;
  line-height: 20px;
  cursor: pointer;
  font: 16px;
  transition: all 0.2s;
  &:disabled {
    color: $search-color;
    background-color: $border-color;
    cursor: default;
  }
}
