@import '../../../reset.scss';

.ToggleCheck {
  display: flex;
  input {
    position: absolute;
    width: 48px;
    height: 20px;
    opacity: 0;
    &:checked + label {
      span {
        left: 5px;
        right: auto;
      }
      background: $highlight-color;
      &::before {
        right: 2px;
        left: auto;
      }
    }
  }
  label {
    width: 48px;

    height: 20px;
    display: inline-block;
    background: $border-color;
    border-radius: 16px;
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    transform-origin: 20% center;
    span {
      font-size: 14px;
      line-height: 20px;
      position: absolute;
      top: -1px;
      left: auto;
      right: 8px;
      color: #fff;
      transition: all 0.2s;
      letter-spacing: -0.35px;
    }
    &::before {
      transition: all 0.2s;
      display: block;
      content: '';
      width: 16px;
      height: 16px;
      border-radius: 16px;
      background-color: #fff;
      position: absolute;
      top: 2px;
      left: 2px;
      right: auto;
    }
  }
}
